.jumbotron {background-color: #c0edff4f; }

.jumbotron-fluid {background-image: url("../img/WechatIMG3.jpeg");background-size:cover;}

.btn {background-color: #f8f9fa2e;border-color: #f8f9fa;}

.display-4 {color: white;}

body {background-image: url("../img/12.png");}